body {
  background-color: #252b38;
}

.app{
  display: flex;
  justify-content: space-around;

}

.wrapper {
  width: 550px;
  border: 2px solid #35b8e5;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
  background-color: #252b38;
  display: flex;
  flex-direction: column;
}

.window{
  height: 200px;
  width: 480px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #7cd3f1;
  font-size: 72px;
  line-height: 200px;
}

.incReset {
  height: 150px;
  width: 480px;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid #35b8e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.incRes {
  border: none;
  background-color: #35b8e5;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 40px;
  outline: none;
  cursor: pointer;
}

.settings{
  flex-direction: column;
}

.valueInput{
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #7cd3f1;
  font-size: 30px;
}

input[type='number']{
  text-align: center;
  border: 3px solid #35b8e5;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.error{
  outline: none;
  border: 3px solid red;
}

.max{
  color: red;
}